VITE_STORE_NAME= "Celeste soto"
VITE_STORE_SLOGAN= "Pastelería Artesanal"
VITE_STORE_LOGO= "./public/logo.png"

VITE_SUPABASE_URL=https://tu-proyecto.supabase.co
VITE_SUPABASE_ANON_KEY=tu_clave_anon_publica_aqui
VITE_WHATSAPP_PHONE=5493810000000