@import "tailwindcss";

@theme {
  --color-primary-light: #cda7fa;
  --color-primary: #630192 ;
  --color-primary-dark: #ae0da9;
  --color-primary-clear: #f9f2ff;
  --color-primary-clear-bg: #fcf7ff; /*  fondos muy suaves */
  --color-primary-clear-b:  #7b5bfa;/*borde*/
  --color-primary-categoria-bg:#f425cb40;

}

h2, h3, .text-categori-font, .categ-nombre {
  font-family: 'Shrikhand', cursive, sans-serif !important;
  font-weight: normal;
  letter-spacing: 0.5px;
}